name: coverage

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.15.4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
      - name: Install
        run: pnpm install --frozen-lockfile
      - name: Coverage (Vitest)
        run: pnpm coverage
      - name: Upload coverage artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vitest-coverage
          path: |
            **/coverage/**
          if-no-files-found: error


